{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="col md-2">
    <button class="mb-xs mt-xs mr-xs btn btn-primary">{{ button_label|default('SAVE') }}</button>
</div>
{{ form_end(form) }}
